@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";
.scholarship-item {
    display: flex;
    align-items: center;
    padding: 1rem 0px;
    border-bottom: 1.2px solid $gray-divider;
    color: $font-black;
    .scholarship-item__logo {
        height: 2rem;
        width: 5rem;
        margin-left: 2rem;
    }
    .scholarship-item__texts {
        display: flex;
        justify-content: space-between;
        flex: 1;
        margin-left: 2rem;
        flex-direction: column;
        @include xl {
            flex-direction: row;
        }
        .scholarship-item__text {
            font-size: 0.8rem;
        }
        .scholarship-item__text--right {
            margin-top: 1rem;
            @include xl {
                text-align: right;
            }
        }
        .scholarship-item__text--smaller {
            margin-top: 5px;
            font-size: 0.7rem;
            color: $secondary-gray;
        }
        .scholarship-item__text--blue {
            color: $secondary-blue;
        }
        .scholarship-item__text--green {
            margin-top: 5px;
            color: $green;
        }
        .scholarship-item__text--gray {
            color: $secondary-gray;
        }
    }
}