<template>
  <div class="scholarship-item">
      <input type="checkbox" v-on:click="addSelected(data.id)" :checked="selecteds.indexOf(data.id) >= 0" />
      <p>{{selecteds.indexOf(data.id) >= 0}}</p>
      <img class="scholarship-item__logo" :src="data.university.logo_url" :alt="data.university.name" />
      <div class="scholarship-item__texts">
          <div class="scholarship-item__text">
              <p class="scholarship-item__text scholarship-item__text--blue">{{data.course.name}}</p>
              <p class="scholarship-item__text scholarship-item__text--smaller">{{data.course.kind}}</p>
          </div>
          <div class="scholarship-item__text scholarship-item__text--right">
              <p class="scholarship-item__text scholarship-item__text--gray">Bolsa de <span class="scholarship-item__text scholarship-item__text--green">{{data.discount_percentage}}%</span></p>
              <p class="scholarship-item__text scholarship-item__text--green">R$ {{data.price_with_discount}}/mês</p>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  name: "ScholarshipItem",
  props: {
    data: Object,
    selecteds: Array
  },
  methods: {
    addSelected(id) {
      this.$emit("addSelected", id);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "_ScholarshipItem.scss";
</style>
