@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";
.new-scholarship {
    margin-bottom: 1.66em;
    color: $font-black;
    background-color: $white;
    @include xl {
        margin-right: 1.66em;
    }
    &:first-child {
        margin-left: 0em;
    }
    .new-scholarship__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        box-shadow: 0px 2px 5px 0px $gray-shadow;
        @include sm {
            width: 34rem;
            height: 17rem;
        }
        @include xl {
            width: 17rem;
            height: 25rem;
        }
        .content__texts {
            margin-top: 30px;
            .content__text {
                text-align: center;
            }
            .content__text--bold {
                font-weight: bold;
            }
            .content__text--smaller {
                font-size: 0.7em;
                line-height: 1.5em;
            }
            .content__text--gray {
                color: $secondary-gray;
            }
        }
        &:hover {
            cursor: pointer;
            transition-duration: 200ms;
            transform: scale(1.05);
        }
    }
}