<template>
  <div class="new-scholarship" v-on:click="openModal">
    <div class="new-scholarship__content">
      <font-awesome-icon icon="plus-circle" color="#007a8d" size="4x"></font-awesome-icon>
      <div class="content__texts">
        <p class="content__text content__text--bold">Adicionar bolsa</p>
        <p class="content__text content__text--smaller content__text--gray">Clique para adicionar bolsas de cursos do seu interesse</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NewScholarship",
  data() {
    return {
      arrayData: [""]
    };
  },
  methods: {
    openModal: function() {
      this.$emit("openModal", "");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "_NewScholarship.scss";
</style>
