$primary-blue: #18acc4;
$secondary-blue: #007a8d;
$primary-yellow: #fdcb13;
$black: #000000;
$font-black: #1f2d30;
$primary-gray: #a9a9a9;
$secondary-gray: #767575;
$gray-bg: #fbfbfb;
$gray-shadow: #d5d2d2;
$gray-divider: #ebebeb;
$green: #0fa866;
$white: #ffffff;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
