@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";
.content {
    display: flex;
    justify-content: center;
    background-color: $gray-bg;
}

.container {
    width: 25rem;
    padding: 16px;
    @include sm {
        width: 36rem;
    }
    @include md {
        width: 48rem;
    }
    @include lg {
        width: 62rem;
    }
    @include xl {
        width: 75rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.directory__list {
    margin: 0px;
    list-style-type: none;
    display: flex;
    height: 100%;
    .directory__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: $secondary-blue;
        font-size: 0.8em;
        &:hover {
            color: $black;
        }
        &:last-child {
            color: $secondary-gray;
        }
    }
    .directory__item--home {
        display: none;
        @include xl {
            display: block;
            margin-left: 0px;
        }
    }
    .directory__item--favs {
        display: none;
        @include xl {
            display: block;
        }
    }
    .directory__item--account {
        margin-left: 5px;
        @include xl {
            margin-left: 0px;
        }
    }
    .directory__item--icon {
        display: block;
        @include xl {
            display: none;
        }
    }
    .directory__divider {
        display: none;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 0.8em;
        color: $secondary-blue;
        @include xl {
            display: block;
        }
    }
}

.container__title {
    margin-top: 40px;
    margin-bottom: 10px;
}

.container__subtitle {
    color: $secondary-gray;
}

.content__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 30px;
    flex-direction: column;
    @include xl {
        flex-direction: row;
    }
    .content__button {
        justify-content: space-between;
        padding: 15px 20px;
        border: 1.2px solid $secondary-blue;
        background-color: $white;
        color: $secondary-blue;
        @include xl {
            border-right: none;
            padding: 7px 20px;
        }
        &:hover {
            cursor: pointer;
            background-color: $secondary-blue;
            color: $white;
        }
        &:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            @include xl {
                border-top-left-radius: 5px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 5px;
            }
        }
        &:nth-child(2) {
            border-top: none;
            border-bottom: none;
            @include xl {
                border-top: 1.2px solid $primary-blue;
                border-bottom: 1.2px solid $primary-blue;
            }
        }
        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            @include xl {
                border-right: 1.2px solid $primary-blue;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 0px;
            }
        }
    }
    .content__button--actived {
        background-color: $secondary-blue;
        color: $white;
    }
}

.scholarship__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include xl {
        width: 1200px;
        flex-direction: row;
    }
}