<template>
  <div class="content">
    <div class="container">
      <nav class="directory__content">
        <ul class="directory__list">
          <font-awesome-icon class="directory__item--icon" icon="chevron-left" color="#007a8d" />
          <li class="directory__item directory__item--home"><a>Home</a></li>
          <span class="directory__divider">/</span>
          <li class="directory__item directory__item--account"><a>Minha conta</a></li>
          <span class="directory__divider">/</span>
          <li class="directory__item directory__item--favs"><a>Bolsas favoritas</a></li>
        </ul>
      </nav>
      <div>
        <h1 class="container__title">Bolsas favoritas</h1>
        <h5 class="container__subtitle">Adicione os cursos e faculdades de seu interesse e receba atualizações com as melhores ofertas.</h5>
      </div>
      <div class="content__buttons">
        <button :class="`content__button ${this.period === 'Todos' && 'content__button--actived'}`" v-on:click="changePeriod('Todos')">Todos os semestres</button>
        <button :class="`content__button ${this.period === '2019.2' && 'content__button--actived' }`" v-on:click="changePeriod('2019.2')">2° semestre de 2019</button>
        <button :class="`content__button ${this.period === '2020.1' && 'content__button--actived'}`" v-on:click="changePeriod('2020.1')">1° semestre de 2020</button>
      </div>
      <div class="scholarship__container">
      <NewScholarship v-on:openModal="openModal"/>
      <Scholarship v-for="(item, index) in favoritesFiltered" :key="item.id" :data=item v-on:removeFavorite="removeFavorite"></Scholarship>
      </div>      
    </div>
  <Modal ref="modal" v-on:addFavorite="addFavorite"/>
  </div>
</template>

<script>
import NewScholarship from "@/components/NewScholarship/NewScholarship.vue";
import Scholarship from "@/components/Scholarship/Scholarship.vue";
import Modal from "@/components/Modal/Modal.vue";

import axios from "axios";

export default {
  name: "Content",
  components: {
    NewScholarship,
    Scholarship,
    Modal
  },
  data() {
    return {
      favorites: [],
      favoritesFiltered: [],
      scholarships: [],
      period: "Todos"
    };
  },
  methods: {
    changePeriod: function(period) {
      this.period = period;
      this.applySemesterFilter();
    },
    openModal: function() {
      this.$refs.modal.load(
        this.scholarships,
        this.favoritesFiltered.map(item => item.id)
      );
      this.$refs.modal.changeVisible();
    },
    addFavorite: function(selecteds) {
      this.$refs.modal.changeVisible();

      this.favorites = this.scholarships.filter(
        item => selecteds.indexOf(item.id) !== -1
      );

      this.applySemesterFilter();
    },
    removeFavorite: function(id) {
      this.favoritesFiltered = this.favoritesFiltered.filter(
        item => item.id !== id
      );

      this.$refs.modal.load(
        this.scholarships,
        this.favoritesFiltered.map(item => item.id)
      );

      console.log(this.favoritesFiltered.map(item => item.id));
    },
    applySemesterFilter: function() {
      let cloneFavorites = this.favorites;
      if (this.period === "Todos") {
        this.favoritesFiltered = this.favorites;
      } else {
        this.favoritesFiltered = cloneFavorites.filter(
          item => item.enrollment_semester == this.period
        );
      }
    }
  },
  mounted() {
    axios
      .get(
        "https://testapi.io/api/redealumni/scholarships?dummy=" +
          new Date().getTime()
      )
      .then(({ data }) => {
        const ids = data.map((item, i) => ({
          id: i,
          ...item
        }));
        this.scholarships = ids;
        this.$refs.modal.load(this.scholarships, null);
      });
  }
};
</script>

<style lang="scss" scoped>
@import "_Content.scss";
</style>
