@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";
@keyframes unfoldIn {
    0% {
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes unfoldOut {
    0% {
        transform: scaleY(1) scaleX(1);
    }
    50% {
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        transform: scaleY(0.005) scaleX(0);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.in {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal__wrapper {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 45, 48, 0.88);
    color: $font-black;
    .modal__close {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        @include xl {
            width: 40rem;
        }
        .modal__close--icon {
            cursor: pointer;
        }
    }
    .in {
        transform: scale(0);
        animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
    .out {
        animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
    .modal {
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: $gray-bg;
        overflow: auto;
        @include xl {
            width: 40rem;
            align-items: center;
            min-height: 70vh;
            overflow: hidden;
        }
    }
    .modal__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        .modal__texts {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            .modal__texts--subtitle {
                color: $secondary-gray;
            }
        }
        .modal__filter {
            margin-top: 2rem;
            flex-direction: column;
            @include xl {
                display: flex;
                flex-direction: row;
            }
            .modal__select {
                font-weight: 100;
                padding: 1rem;
                border-radius: 4px;
                margin-right: 0.5rem;
            }
            .filter__item {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin-top: 1rem;
                @include xl {
                    margin-top: 0px;
                }
                .filter__item--label {
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    letter-spacing: -0.5px;
                }
                .filter__item--p {
                    font-size: 0.8rem;
                }
                .filter__logo {
                    margin-left: 5px;
                }
                .modal__checkboxes {
                    display: flex;
                    align-items: center;
                    margin-top: 2rem;
                    .modal__checkboxes--label {
                        color: $secondary-gray;
                        font-size: 0.8rem;
                    }
                    .modal__checkboxes--input {
                        margin-left: 1rem;
                    }
                }
                .filter__text {
                    font-size: 0.8rem;
                    color: $font-black;
                }
                .filter__text--blue {
                    color: $secondary-blue;
                }
                .filter__text--right {
                    @include xl {
                        text-align: right;
                    }
                }
            }
            .modal__slider {
                margin-top: 2rem;
            }
        }
        .modal__results {
            margin-top: 1rem;
            border-top: 1.2px solid $gray-divider;
            @include xl {
                overflow: auto;
                max-height: 17rem;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .modal__buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
            margin-bottom: 1rem;
            @include xl {
                margin-top: 2rem;
                margin-bottom: 0px;
            }
            .modal__button {
                justify-content: space-between;
                font-size: 1rem;
                border: 1px solid $secondary-blue;
                border-radius: 5px;
                background-color: white;
                color: $secondary-blue;
                padding: 15px 20px;
                @include xl {
                    font-size: smaller;
                }
                &:first-child {
                    margin-right: 1rem;
                }
                &:hover {
                    cursor: pointer;
                    transition-duration: 200ms;
                    transform: scale(1.05);
                }
            }
            .modal__button--yellow {
                background-color: $primary-yellow;
                color: $font-black;
                border: 1px solid $primary-yellow;
                font-size: 1rem;
                padding: 15px 30px;
                @include xl {
                    font-size: smaller;
                    padding: 12px 20px;
                }
            }
            .modal__button--inactive {
                opacity: 0.5;
                color: $font-black;
                background-color: $primary-gray;
                border: 1px solid $primary-gray;
                pointer-events: none;
                font-size: 1rem;
                padding: 15px 30px;
                @include xl {
                    font-size: smaller;
                    padding: 12px 20px;
                }
            }
        }
    }
}

.modal__wrapper--hidden {
    visibility: hidden;
    height: 0px;
    width: 0px;
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}