  <template>
  <div :class="`modal__wrapper${this.modalState ? '' : '--hidden'} ${this.modalState ? 'in' : 'out'}`">
    <div class="modal__close">
      <font-awesome-icon icon="times" class="modal__close--icon" v-on:click="changeVisible()" color="#FFF" size="lg"></font-awesome-icon>
    </div>   
      <div :class="`modal ${this.modalState ? 'in' : 'out'}`">
        <div class="modal__content">
            <div class="modal__texts">
                <h2>Adicionar bolsa</h2>
                <h5 class="modal__texts--subtitle">Filtre e adicione as bolsas de seu interesse.</h5>
            </div>
            <div class="modal__filter">
                <div class="filter__item">
                    <label class="filter__item--label" for="slc-city">Selecione sua cidade</label>
                    <select class="modal__select" name="city" v-on:change="e=> changeFilter('filterCity', e.target.value)" id="slc-city">
                        <option>Todos</option>
                        <option v-for="(item, index) in cities" :key=index>{{item}}</option>
                    </select>
                </div>        
                <div class="filter__item">
                    <label class="filter__item--label" for="slc-course">Selecione o curso de sua preferência</label>
                    <select class="modal__select" name="course" v-on:change="e=> changeFilter('filterCourse', e.target.value)" id="slc-course">
                        <option>Todos</option>
                        <option v-for="(item, index) in courses" :key=index>{{item}}</option>
                    </select>
                </div>           
                
            </div>
            <div class="modal__filter">
                <div class="filter__item">
                    <label class="filter__item--label" for="modal__checkboxes">Como você quer estudar?</label>
                    <div id="modal__checkboxes" class="modal__checkboxes">
                        <input type="checkbox" value="Presencial" id="chk-presential" v-model="filterPresential" v-on:change="changeFilter('filterPresential', filterPresential)" />
                        <label class="modal__checkboxes--label" for="chk-presential">Presencial</label>
                        <input class="modal__checkboxes--input" type="checkbox" value="A distância" id="chk-ead" v-model="filterEad" v-on:change="changeFilter('filterEad', filterEad)" />
                        <label class="modal__checkboxes--label" for="chk-ead">A distância</label>                        
                    </div>
                </div>
                <div class="filter__item">
                    <label class="filter__item--label" for="modal__checkboxes">Até quanto pode pagar?</label>
                    <vue-slider class="modal__slider" :min="0" :max="maxPrice" v-model="filterPrice" v-on:change="doFilter" />
                    <p class="filter__item--p">R$ {{filterPrice}}</p>
                </div>
            </div>
            <div class="modal__filter modal__filter--grid">
                <div class="filter__item">
                    <p class="filter__text">Resultados:</p>
                </div>
                <div class="filter__item">
                    <p class="filter__text filter__text--right">Ordernar por <span class="filter__text filter__text--blue">Nome da faculdade</span><font-awesome-icon class="filter__logo" icon="chevron-down" color="#007a8d" /></p>
                </div>
            </div>
            <div class="modal__results">
                <ScholarshipItem v-for="(item, index) in filtered" :key="item.id" :selecteds=favoritesIds :data=item v-on:addSelected="addSelected"  />
            </div>
            <div class="modal__buttons">
                <button class="modal__button" v-on:click="changeVisible()">Cancelar</button>
                <button v-if="selecteds.length === 0" class="modal__button modal__button--inactive">Adicionar bolsa(s)</button>
                <button v-else class="modal__button modal__button--yellow" v-on:click="addFavorite">Adicionar bolsa(s)</button>
            </div>
        </div>
    </div>
  </div>
  <!-- <div v-else class="modal__wrapper--hidden" />  -->


  </template>

<script>
import { sortBy } from "@/utils";
import VueSlider from "vue-slider-component";
import "vue-slider-component/theme/antd.css";
import ScholarshipItem from "@/components/ScholarshipItem/ScholarshipItem.vue";

export default {
  name: "Modal",
  components: {
    VueSlider,
    ScholarshipItem
  },
  data() {
    return {
      cities: [],
      courses: [],
      selecteds: [],
      scholarships: [],
      filtered: [],
      favoritesIds: [],
      modalState: false,
      sortBy: "",
      filterCourse: "Todos",
      filterCity: "Todos",
      filterKind: "",
      filterPrice: 0,
      filterPresential: true,
      filterEad: true,
      maxPrice: 0
    };
  },
  methods: {
    load(scholarships, favoritesIds) {
      this.clearState();
      this.cities = [
        ...new Set(scholarships.map(item => item.campus.city))
      ].sort();
      this.courses = [
        ...new Set(scholarships.map(item => item.course.name))
      ].sort();
      this.scholarships = scholarships;
      this.favoritesIds = favoritesIds == null ? [] : favoritesIds;
      console.log(this.favoritesIds);
      this.filterPrice = Math.max(
        ...[
          ...new Set(
            scholarships.map(item => Math.round(item.price_with_discount))
          )
        ]
      );
      this.maxPrice = this.filterPrice;
      this.doFilter();
    },
    changeVisible() {
      this.modalState = !this.modalState;
    },
    changeFilter(filter, value) {
      this[filter] = value;
      this.doFilter();
    },
    clearState() {
      this.filtered = [];
      this.filterCourse = "Todos";
      this.filterCity = "Todos";
      this.filterKind = "";
      this.filterPrice = 0;
      this.filterPresential = true;
      this.filterEad = true;
      this.maxPrice = 0;
      this.favoritesIds = [];
    },
    addSelected(id) {
      if (this.selecteds.filter(item => item == id).length > 0) {
        this.selecteds.splice(this.selecteds.findIndex(item => item == id), 1);
      } else {
        this.selecteds.push(id);
      }
    },
    doFilter() {
      if (this.filterCity !== "Todos") {
        this.filtered = this.scholarships.filter(
          item => item.campus.city == this.filterCity
        );
      } else {
        this.filtered = this.scholarships;
      }

      if (this.filterCourse !== "Todos") {
        this.filtered = this.filtered.filter(
          item => item.course.name == this.filterCourse
        );
      } else {
        this.filtered = this.filtered;
      }

      if (!this.filterPresential || !this.filterEad) {
        if (this.filterPresential) {
          this.filtered = this.filtered.filter(
            item => item.course.kind == "Presencial"
          );
        } else if (this.filterEad) {
          this.filtered = this.filtered.filter(
            item => item.course.kind == "EaD"
          );
        } else {
          this.filtered = this.filtered.filter(
            item =>
              item.course.kind !== "EaD" && item.course.kind !== "Presencial"
          );
        }
      } else {
        this.filtered = this.filtered;
      }

      this.filtered = this.filtered.filter(
        item => item.price_with_discount <= this.filterPrice
      );

      this.filtered = sortBy("university.name", this.filtered, true);
    },
    addFavorite() {
      this.$emit("addFavorite", this.selecteds);
    }
  }
};
</script>

  <style lang="scss" scoped>
@import "_Modal.scss";
</style>
