@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";
.scholarship {
  display: flex;
  margin-bottom: 1.66em;
  color: $font-black;
  background-color: $white;
  flex: 1;
  &:first-child {
    margin-left: 0em;
  }
  @include xl {
    flex: none;
    margin-right: 1.66em;
  }
  .scholarship__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding: 25px;
    box-shadow: 0px 2px 5px 0px $gray-shadow;
    @include xl {
      flex: none;
      width: 17em;
      height: 25em;
    }
    .content__logo {
      width: 10em;
    }
    .content__texts {
      margin-top: 30px;
      display: flex;
      flex: 1;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      .content__text {
        text-align: center;
        font-size: 0.8em;
      }
      .content__text--upper {
        text-transform: uppercase;
      }
      .content__text--bold {
        font-weight: bold;
      }
      .content__text--blue {
        color: $secondary-blue;
      }
      .content__text--gray {
        color: $secondary-gray;
      }
      .content__text--green {
        color: $green;
      }
      .content__text--smaller {
        font-size: 0.7em;
      }
      .content__text--bigger {
        font-size: 1em;
      }
      .content__text--line {
        text-decoration: line-through;
      }
      .content__divider {
        margin: 11px 0px;
        align-self: stretch;
        border: 1.2px solid $gray-divider;
      }
      .content__rating {
        display: flex;
        align-items: center;
        justify-content: center;
        .content__stars {
          margin-left: 5px;
        }
      }
    }
    .content__buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 20px;
      .content__button {
        justify-content: space-between;
        font-size: 1rem;
        border: 1.2px solid $primary_blue;
        border-radius: 5px;
        background-color: white;
        color: $primary-blue;
        padding: 15px 40px;
        @include xl {
          font-size: smaller;
          padding: 7px 20px;
        }
        &:hover {
          cursor: pointer;
          transition-duration: 200ms;
          transform: scale(1.05);
        }
      }
      .content__button--yellow {
        background-color: $primary-yellow;
        color: $font-black;
        border: 1px solid $primary-yellow;
        font-size: 1rem;
        padding: 15px 40px;
        @include xl {
          font-size: smaller;
          padding: 7px 27px;
        }
      }
      .content__button--inactive {
        opacity: 0.5;
        color: $font-black;
        background-color: $primary-gray;
        border: 1px solid $primary-gray;
        pointer-events: none;
        font-size: 1rem;
        padding: 15px 30px;
        @include xl {
          font-size: smaller;
          padding: 7px 20px;
        }
      }
    } // &:hover {
    //     cursor: pointer;
    //     transition-duration: 200ms;
    //     transform: scale(1.05);
    // }
  }
}
