<template>
  <div class="scholarship" v-on:click="addScholarship">
    <div class="scholarship__content">
      <img class="content__logo" :src="data.university.logo_url" alt="">
      <div class="content__texts">
        <p class="content__text content__text--upper">{{data.university.name}}</p>
        <p class="content__text content__text--blue content__text--bold">{{data.course.name}}</p>
        <div class="content__rating">
        <p class="content__text content__text--bold">{{data.university.score}}</p>
        <star-rating class="content__stars" v-bind:increment="0.1"             
            v-bind:max-rating="5"
             v-bind:read-only=true
             v-bind:star-size=15
             v-bind:rating="data.university.score"
             v-bind:rounded-corners=false
             v-bind:show-rating="false">
        </star-rating>
        </div>
        
        <hr class="content__divider" />
        <p class="content__text content__text--upper">{{data.course.kind}} - {{data.course.shift}}</p>
        <p class="content__text content__text--gray content__text--smaller">Início das aulas em: {{data.start_date}}</p>
        <hr class="content__divider" />        
        <p class="content__text content__text--smaller">Mensalidade com o Quero Bolsa:</p>
        <p class="content__text content__text--gray content__text--line">R$ {{data.full_price}}</p>
        <p class="content__text content__text--green content__text--bigger">R$ {{data.price_with_discount}} <span class="content__text content__text--gray">/mês</span></p>
      </div>
      <div class="content__buttons">
        <button v-on:click="removeFavorite(data.id)" class="content__button">Excluir</button>
        <button class="content__button content__button--yellow" v-if=data.enabled>Ver oferta</button>
        <button class="content__button content__button--inactive" v-else>Indisponível</button>
      </div>
    </div>
  </div>
</template>

<script>
import StarRating from "vue-star-rating";

export default {
  name: "Scholarship",
  props: {
    data: Object
  },
  components: {
    StarRating
  },
  methods: {
    removeFavorite(id) {
      this.$emit("removeFavorite", id);
    }
  },
  data() {
    return {
      arrayData: {
        full_price: 2139.64,
        price_with_discount: 706.08,
        discount_percentage: 67.0,
        start_date: "01/08/2019",
        enrollment_semester: "2019.2",
        enabled: true,
        course: {
          name: "Engenharia Mecânica",
          kind: "Presencial",
          level: "Bacharelado",
          shift: "Noite"
        },
        university: {
          name: "UNIP",
          score: 4.5,
          logo_url: "https://www.tryimg.com/u/2019/04/16/unip.png"
        },
        campus: {
          name: "Jardim das Indústrias",
          city: "São José dos Campos"
        }
      }
    };
  }
};
</script>

<style lang="scss" scoped>
@import "_Scholarship.scss";
</style>
