@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";
.header {
    height: 9.75rem;
    @include xl {
        height: 6.75rem;
    }
}

.header__menu {
    display: flex;
    justify-content: center;
    height: 60%;
    background-color: $gray-bg;
    .menu__content {
        display: flex;
        justify-content: space-between;
        width: 25rem;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        @include sm {
            width: 36rem;
        }
        @include md {
            width: 48rem;
        }
        @include lg {
            width: 62rem;
        }
        @include xl {
            width: 75rem;
        }
        .menu__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 10rem;
            @include xl {
                width: 22rem;
            }
            .menu__info {
                display: none;
                @include xl {
                    display: flex;
                }
            }
            .menu__logo {
                display: flex;
                flex: 1;
                height: 70%;
                width: 100%;
                cursor: pointer;
            }
            .menu__divider {
                margin: 11px 20px;
                align-self: stretch;
                border: 1.2px solid $gray-divider;
            }
        }
        .menu__how-it-works {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            &::after {
                color: $secondary-blue;
                margin-top: 0.5rem;
                content: "Ajuda";
            }
            @include xl {
                flex-direction: row;
                &::after {
                    content: "";
                }
            }
        }
        .menu__account {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            &::after {
                color: $secondary-blue;
                margin-top: 0.5rem;
                content: "Conta";
            }
            @include xl {
                flex-direction: row;
                &::after {
                    content: "";
                }
            }
        }
        .menu__item--user {
            justify-content: flex-end;
            .menu__divider {
                @include xl {
                    display: none;
                }
            }
        }
        .menu__text {
            color: $secondary-blue;
            margin-left: 5px;
            font-size: 0.8em;
            cursor: pointer;
            display: none;
            @include xl {
                display: block;
            }
        }
        .menu__text--smaller {
            font-size: 0.7em;
        }
        .menu__text--user {
            margin-right: 5px;
        }
    }
}

.header__submenu {
    background-color: $primary-blue;
    height: 40%;
    justify-content: center;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    .submenu__content {
        justify-content: center;
        flex-direction: column;
        display: flex;
        width: 1200px;
    }
    .submenu__list {
        display: flex;
        height: 100%;
        margin: 0px;
        list-style-type: none;
        justify-content: space-between;
        @include xl {
            justify-content: start;
        }
        .submenu__item {
            cursor: pointer;
            display: none;
            align-items: center;
            padding: 16px;
            &:first-child {
                display: flex;
            }
            &:hover {
                background-color: $secondary-blue;
            }
            @include xl {
                display: flex;
            }
        }
        .submenu__item--mobile {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            @include xl {
                display: none;
            }
        }
        .submenu__item--actived {
            background-color: $secondary-blue;
        }
        .submenu__link {
            color: $white;
        }
        .submenu__link--mobile {
            margin-right: 5px;
        }
    }
}