  <template>
    <header class="header">
        <div class="header__menu">
            <div class="menu__content">
                  <div class="menu__item">
                      <div class="menu__how-it-works">                    
                          <font-awesome-icon icon="info-circle" color="#007A8D" size="lg"></font-awesome-icon>
                          <p class="menu__text">Como funciona</p>
                      </div>
                      <hr class="menu__divider" />              
                      <div class="menu__info">
                          <font-awesome-icon icon="comments" color="#0FA866" size="lg"></font-awesome-icon>                             
                          <div>
                              <p class="menu__text">0800 123 2222</p>
                              <p class="menu__text menu__text--smaller">Envie mensagem ou ligue</p>
                          </div>
                      </div> 
                  </div>
                <div class="menu__item">
                    <img src="@/assets/quero_bolsa.svg" class="menu__logo" alt="Quero Bolsa" />
                </div>
                <div class="menu__item  menu__item--user">
                <hr class="menu__divider" />                         
                   <div class="menu__account">
                        <p class="menu__text menu__text--user">Nome Sobrenome</p> 
                        <font-awesome-icon icon="user-circle" color="#007A8D" size="lg"></font-awesome-icon>
                    </div>                      
                </div>
            </div>
        </div>
        <div class="header__submenu">
            <nav class="submenu__content">
                <ul class="submenu__list">
                    <li class="submenu__item"><a class="submenu__link">Minha conta</a></li>
                    <li class="submenu__item"><a class="submenu__link">Pré-matrículas</a></li>
                    <li class="submenu__item submenu__item--actived"><a class="submenu__link">Bolsa favoritas</a></li>
                    <li class="submenu__item submenu__item--mobile">
                        <span class="submenu__link submenu__link--mobile">Menu</span>
                        <font-awesome-icon icon="chevron-down" color="#FFF" />
                    </li>
                </ul>
            </nav>
        </div>
    </header>
  </template>

          <script>
export default {
  name: "Header"
};
</script>

  <style lang="scss" scoped>
@import "_Header.scss";
</style>
