@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";
.footer {
  height: 20rem;
  @include xl {
    height: 11.75rem;
  }
}

.footer__top-bar {
  display: flex;
  justify-content: center;
  height: 70%;
  background-color: $secondary-blue;
  @include xl {
    height: 50%;
  }
  .top-bar__content {
    display: flex;
    justify-content: space-between;
    width: 25rem;
    height: 100%;
    @include sm {
      width: 36rem;
    }
    @include md {
      width: 48rem;
    }
    @include lg {
      width: 62rem;
    }
    @include xl {
      width: 75rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .top-bar__list {
    display: block;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0px;
    list-style-type: none;
    @include xl {
      display: flex;
    }
    .top-bar__item {
      display: flex;
      align-items: center; //   width: 210px;
      justify-content: center;
      width: 33.3%;
      border-left: 2px solid $primary-blue;
      &:first-child {
        border-left: none;
      }
      @include xl {
        justify-content: flex-start;
        border: none;
      }
      .top-bar__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .top-bar__links {
          margin-left: 10px;
        }
      }
      .top-bar__text {
        color: $white;
        cursor: pointer;
        &:last-child {
          font-size: 0.7em;
        }
      }
    }
    .top-bar__item--mobile {
      width: 100%;
      height: 40%;
      justify-content: center;
      border-bottom: 2px solid $primary-blue;
      @include xl {
        width: 30%;
        height: 100%;
        justify-content: center;
        border: none;
      }
    }
  }
  .top-bar__itens--mobile {
    display: flex;
    height: 60%;
    justify-content: space-between;
    @include xl {
      flex: 1;
      height: 100%;
    }
    .top-bar__info--chat {
      flex-direction: column !important;
      &::after {
        color: $white;
        margin-top: 0.5rem;
        content: "Chat";
      }
      @include xl {
        flex-direction: row !important;
        &::after {
          content: "";
        }
      }
    }
    .top-bar__info--email {
      flex-direction: column !important;
      &::after {
        color: $white;
        margin-top: 0.5rem;
        content: "E-mail";
      }
      @include xl {
        flex-direction: row !important;
        &::after {
          content: "";
        }
      }
    }
    .top-bar__info--help {
      flex-direction: column !important;
      &::after {
        color: $white;
        margin-top: 0.5rem;
        content: "Ajuda";
      }
      @include xl {
        flex-direction: row !important;
        &::after {
          content: "";
        }
      }
    }
    .top-bar__text {
      display: none;
      @include xl {
        display: block;
      }
    }
  }
}

.footer__bottom-bar {
  display: flex;
  flex-direction: column;
  height: 30%;
  text-align: center;
  justify-content: center;
  background-color: $primary-blue;
  @include xl {
    height: 50%;
  }
  .bottom-bar__text {
    font-size: 0.7em;
    color: $white;
  }
}
