  <template>
    <footer class="footer">
        <div class="footer__top-bar">
          <div class="top-bar__content">
            <ul class="top-bar__list">
              <li class="top-bar__item top-bar__item--mobile">
                <div class="top-bar__info">
                  <font-awesome-icon icon="comments" color="#fff" size="2x"></font-awesome-icon>                
                  <div class="top-bar__links">
                    <p class="top-bar__text">0800 123 2222</p>
                    <p class="top-bar__text">Seg - Sex 8h-22h</p>
                  </div>
                </div>
              </li>
              <div class="top-bar__itens--mobile">
                <li class="top-bar__item">
                  <div class="top-bar__info top-bar__info--chat">
                    <font-awesome-icon icon="comments" color="#fff" size="2x"></font-awesome-icon>                             
                    <div class="top-bar__links">              
                      <p class="top-bar__text">Chat ao vivo</p>
                      <p class="top-bar__text">Seg - Sex 8h-22h</p>
                    </div>
                  </div>
                </li>
              <li class="top-bar__item">
                  <div class="top-bar__info top-bar__info--email">
                    <font-awesome-icon icon="envelope" color="#fff" size="2x"></font-awesome-icon>                                
                    <div class="top-bar__links">
                      <p class="top-bar__text">Mande um e-mail</p>
                      <p class="top-bar__text">Respondemos rapidinho</p>
                    </div>
                  </div>
                </li>
              <li class="top-bar__item">
                  <div class="top-bar__info top-bar__info--help">
                    <font-awesome-icon icon="info-circle" color="#fff" size="2x"></font-awesome-icon>                                
                    <div class="top-bar__links">
                      <p class="top-bar__text">Central de ajuda</p>
                      <p class="top-bar__text">Encontre todas as respostas</p>
                    </div>
                  </div>
                </li>
              </div>
              
            </ul>
          </div>
        </div>
        <div class="footer__bottom-bar">
            <p class="bottom-bar__text">Feito com <font-awesome-icon icon="heart" color="#fff" size="lg"></font-awesome-icon> pela Quero Educação</p>
        </div>
    </footer>
  </template>

  <script>
export default {
  name: "Footer"
};
</script>

  <style lang="scss" scoped>
@import "_Footer.scss";
</style>
